<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
           <div class="errors">
               {% for error in errors3 %}
                   <tr>
                       <td>

                           <br>
                           {{ error }}
                           <br>
                       </td>
                   </tr>

               {% endfor %}
           </div>

            <div class="test">
                <h2 for="title">Enter a new product</h2>
                <div class="12u$">
                    Kies een .jpg-bestand: &nbsp;&nbsp;
                    <input type="file" name="avatar" id="photo" value="" autocomplete="off" placeholder="Selecteer foto" />
                </div>
                <input type="hidden" name="moduleAction" value="insertProduct">
                <label for="name">name</label>
                <input id="name"  placeholder="product name" class="validate" name="name"  value="{{ name }}">
                <label for="description">description</label>
                <input id="description" placeholder="description" class="validate" name="description" value="{{ description }}">
                <label for="price">price</label>
                <input id="price" placeholder="price" class="validate" name="price" value="{{ price }}">
                <label for="stock">stock</label>
                <input id="stock" placeholder="stock" class="validate" name="stock" value="{{ stock }}">
                <br><br>
                <label for="type">type</label>
                <br><br>
                <select name="type" id="type">
                    <option value="literverpakking">literverpakking</option>
                    <option value="ijstaart">ijstaart</option>
                </select>
                <br><br>
                <label for="categorie">categorie</label>
                <br><br>
                <select name="categorie" id="categorie">
                    {% for cat in cats %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="weight">weight</label>
                <br><br>
                <input id="weight"  placeholder="weight"  class="validate" name="weight" value="{{ weight }}">
                <br><br>
                <label for="featured">featured</label>
                <br><br>

                    <p>
                        <input type="radio"  value="1" name="yes_no" checked>Yes</input>
                    </p>
                    <p>
                        <input type="radio"  value="0"  name="yes_no">No</input>
                    </p>

                <br><br>
                <button>insert product</button>
            </div>
        </form>
    </div>




    <div class="form">

        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
                {% for error in errors2 %}
                    <tr>
                        <td>

                            <br>
                            {{ error }}
                            <br>
                        </td>
                    </tr>

                {% endfor %}
            </div>
            <div class="test">
                <h2 for="title">Enter a new categorie</h2>
                <input type="hidden" name="moduleAction" value="insertCategorie">
                <label for="categorieName">name</label>
                <input id="categorieName"  placeholder="categorie name" class="validate" name="categorieName"  value="{{ categorieName }}">
                <br><br>
                <button>insert categorie</button>
            </div>
        </form>
        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
                {% for error in errors3 %}
                    <tr>
                        <td>

                            <br>
                            {{ error }}
                            <br>
                        </td>
                    </tr>

                {% endfor %}
            </div>
            <div class="test">
                <h2 for="title">Delete a product</h2>
                <input type="hidden" name="moduleAction" value="DeleteProduct">
                <label for="product">product</label>
                <br><br>
                <select name="productCategorie" id="categorie">
                    {% for item in items %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button>Delete product</button>
            </div>
        </form>
        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
                {% for error in errors1 %}
                    <tr>
                        <td>

                            <br>
                            {{ error }}
                            <br>
                        </td>
                    </tr>

                {% endfor %}
            </div>
            <div class="test">
                <h2 for="title">Delete an order</h2>
                <input type="hidden" name="moduleAction" value="DeleteOrder">
                <label for="order id">order id</label>
                <br><br>
                <input id="orderid"  placeholder="order id" class="validate" name="delOrderId" value="{{ order.id }}">
                <br><br>
                <button>Delete order</button>
            </div>

        </form>
    </div>








    <div class="form">

        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
                {% for error in errors6 %}
                    <tr>
                        <td>

                            <br>
                            {{ error }}
                            <br>
                        </td>
                    </tr>

                {% endfor %}
            </div>

            <div class="test">
                <h2 for="title">Edit a product</h2>
                <label for="product">select a product</label>
                <input type="hidden" name="moduleAction" value="selectProduct">
                <br><br>
                <select name="selectProduct" id="categorie">
                    {% for item in items %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button>select product</button>
            </div>
        </form>

        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
                {% for error in errors6 %}
                    <tr>
                        <td>

                            <br>
                            {{ error }}
                            <br>
                        </td>
                    </tr>

                {% endfor %}
            </div>


            <div class="test">

                <input type="hidden" name="moduleAction" value="EditProduct">
                {% for item in selected %}
                    <h2 for="title">Edit selected product</h2>
                    <input id="idin"  placeholder="product name" class="validate" name="idin" value="{{ item.id }}">
                <label for="name">name</label>
                <input id="name"  placeholder="product name" class="validate" name="nameUpdate" value="{{ item.name }}">
                <label for="description">description</label>
                <input id="description" placeholder="description" class="validate" name="descriptionUpdate" value="{{ item.description }}">
                <label for="price">price</label>
                <input id="price" placeholder="price" class="validate" name="priceUpdate" value="{{ item.price }}">
                <label for="stock">stock</label>
                <input id="stock" placeholder="stock" class="validate" name="stockUpdate" value="{{ item.stock }}">
                <br><br>
                <label for="type">type</label>
                <br><br>
                <select name="type" id="type">
                    <option value="literverpakking">literverpakking</option>
                    <option value="ijstaart">ijstaart</option>
                </select>
                <br><br>
                <label for="categorie">categorie</label>
                <br><br>
                <select name="categorieUpdate" id="categorie">
                    {% for cat in cats %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="weight">weight</label>
                <br><br>
                <input id="weight"  placeholder="weight"  class="validate" name="weightUpdate" value="{{ item.sortweight }}">
                <br><br>
                <label for="featured">featured</label>
                <br><br>

                <p>
                    <input type="radio"  value="1" name="yes_no_update" checked>Yes</input>
                </p>
                <p>
                    <input type="radio"  value="0"  name="yes_no_update">No</input>
                </p>
                    <br><br>
                    <button>edit product</button>
                {% endfor %}

            </div>
        </form>

    </div>



    <div class="form">

        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">

            </div>

            <div class="test">
                <h2 for="title">Edit an order</h2>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Klant</th>
                        <th>Datum</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.user_id }}</td>
                            <td>{{ order.date }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <br><br>
                <label for="product">select an order</label>
                <input type="hidden" name="moduleAction" value="SelectedOrder">
                <br><br>
                <label for="orderid">order id</label>
                <input id="orderid"  placeholder="order id" class="validate" name="orderid" value="{{ orderid }}">
                <br><br>
                <button>select order</button>
            </div>
        </form>




        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">


            </div>


            <div class="test">
                <input type="hidden" name="moduleAction" value="editOrder">

                <h2 for="title">Edit selected order</h2>
                {% for out in output1 %}
                    <div class="ordersDiv">
                        <input type="hidden" name="order_id1" value="{{ out.order_id }}">
                        <label for="order_id">{{ out.name }}</label>
                        <input id="order_id"  placeholder="{{ out.name }}" class="validate" name="productid1"  value="{{ out.product_id }}">
                        <label for="quantity">quantity</label>
                        <input id="quantity"  placeholder="quantity1" class="validate" name="quantity1" value="{{ out.quantity }}">
                    </div>
                {% endfor %}
                {% for out in output2 %}
                    <div class="ordersDiv">
                        <input type="hidden" name="order_id2" value="{{ out.order_id }}">
                        <label for="order_id">{{ out.name }}</label>
                        <input id="order_id"  placeholder="{{ out.name }}" class="validate" name="productid2"  value="{{ out.product_id }}">
                        <label for="quantity">quantity</label>
                        <input id="quantity"  placeholder="quantity1" class="validate" name="quantity2" value="{{ out.quantity }}">
                    </div>
                {% endfor %}
                {% for out in output3 %}
                    <div class="ordersDiv">
                        <input type="hidden" name="order_id3" value="{{ out.order_id }}">
                        <label for="order_id">{{ out.name }}</label>
                        <input id="order_id"  placeholder="{{ out.name }}" class="validate" name="productid3"  value="{{ out.product_id }}">
                        <label for="quantity">quantity</label>
                        <input id="quantity"  placeholder="quantity3" class="validate" name="quantity3" value="{{ out.quantity }}">
                    </div>
                {% endfor %}
                {% for out in output4 %}
                    <div class="ordersDiv">
                        <input type="hidden" name="order_id4" value="{{ out.order_id }}">
                        <label for="order_id">{{ out.name }}</label>
                        <input id="order_id"  placeholder="{{ out.name }}" class="validate" name="productid4"  value="{{ out.product_id }}">
                        <label for="quantity">quantity</label>
                        <input id="quantity"  placeholder="quantity1" class="validate" name="quantity4" value="{{ out.quantity }}">
                    </div>
                {% endfor %}
                {% for out in output5 %}
                    <div class="ordersDiv">
                        <input type="hidden" name="order_id5" value="{{ out.order_id }}">
                        <label for="order_id">{{ out.name }}</label>
                        <input id="order_id"  placeholder="{{ out.name }}" class="validate" name="productid5"  value="{{ out.product_id }}">
                        <label for="quantity">quantity</label>
                        <input id="quantity"  placeholder="quantity1" class="validate" name="quantity5" value="{{ out.quantity }}">
                    </div>
                {% endfor %}
                {% for out in output6 %}
                    <div class="ordersDiv">
                        <input type="hidden" name="order_id6" value="{{ out.order_id }}">
                        <label for="order_id">{{ out.name }}</label>
                        <input id="order_id"  placeholder="{{ out.name }}" class="validate" name="productid6"  value="{{ out.product_id }}">
                        <label for="quantity">quantity</label>
                        <input id="quantity"  placeholder="quantity1" class="validate" name="quantity6" value="{{ out.quantity }}">
                    </div>
                {% endfor %}
                {% for out in output7 %}
                    <div class="ordersDiv">
                        <input type="hidden" name="order_id7" value="{{ out.order_id }}">
                        <label for="order_id">{{ out.name }}</label>
                        <input id="order_id"  placeholder="{{ out.name }}" class="validate" name="productid7"  value="{{ out.product_id }}">
                        <label for="quantity">quantity</label>
                        <input id="quantity"  placeholder="quantity1" class="validate" name="quantity7" value="{{ out.quantity }}">
                    </div>
                {% endfor %}
                <br><br>
                <button>edit order</button>
            </div>
        </form>

    </div>


    <div class="form">
        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
                {% for error in errors4 %}
                    <tr>
                        <td>

                            <br>
                            {{ error }}
                            <br>
                        </td>
                    </tr>

                {% endfor %}
            </div>

            <div class="test">
                <h2 for="title">Enter a new event</h2>

                <input type="hidden" name="moduleAction" value="insertEvent">
                <label for="name">name</label>
                <input id="name"  placeholder="event name" class="validate" name="eventname"  value="{{ eventname }}">
                <label for="description">description</label>
                <input id="description" placeholder="event description" class="validate" name="eventdescription" value="{{ eventdescription }}">
                <label for="location">location</label>
                <input id="location" placeholder="event location" class="validate" name="eventlocation" value="{{ eventlocation }}">

                <label for="description">start datum</label>
                <input id="description" placeholder="2022-01-01 14:00:00" class="validate" name="sdate" value="{{ sdate }}">
                <label for="location">eind datum</label>
                <input id="location" placeholder="2022-01-01 14:00:00" class="validate" name="edate" value="{{ edate }}">

                <button>insert event</button>
            </div>
        </form>
    </div>


    <div class="form">
        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
                {% for error in errors5 %}
                    <tr>
                        <td>

                            <br>
                            {{ error }}
                            <br>
                        </td>
                    </tr>

                {% endfor %}
            </div>


            <div class="test">
                <h2 for="title">Delete en event</h2>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.id }}</td>
                            <td>{{ event.name}}</td>
                            <td>{{ event.start_time }}</td>
                            <td>{{ event.end_time }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <br><br>
                <label for="product">Delete an event</label>
                <input type="hidden" name="moduleAction" value="deleteEvent">
                <br><br>
                <label for="orderid">event id</label>
                <input id="orderid"  placeholder="event id" class="validate" name="eventid" value="{{ eventid }}">
                <br><br>
                <button>delete event</button>
            </div>


        </form>

    </div>



    <div class="form">
        <form class="col s12" method="post" action="admin" enctype="multipart/form-data">
            <div class="errors">
            </div>
            <div class="test">
                <h2 for="title">Add a tag</h2>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name}}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <br><br>
                <label for="product">Add a tag</label>
                <input type="hidden" name="moduleAction" value="SelectedPID">
                <br><br>
                <label for="orderid">order id</label>
                <input id="orderid"  placeholder="order id" class="validate" name="orderidTag" value="{{ orderidTag }}">
                <label for="orderid">tag</label>
                <input id="orderid"  placeholder="tag" class="validate" name="tag" value="{{ tag }}">
                <br><br>
                <button>add tag</button>
            </div>
        </form>
    </div>


</div>
</body>




