<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="col s12" method="post" action="order" enctype="multipart/form-data">
            {% for error in errors %}
                <tr>
                    <td>

                        <br>
                        {{ error }}
                        <br>
                    </td>
                </tr>
            {% endfor %}

            <input type="hidden" name="moduleAction1" value="moduleAction1">

            <label for="name">Name*</label>
            <input id="" type="text"  placeholder="name" class="validate" name="name"  value="{{ name }}">

            <label for="email">Email*</label>
            <input id="" type="text"  placeholder="someone@something.com" class="validate" name="email"  value="{{ email }}">

            <label for="address">Address</label>
            <input id="" type="text"  placeholder="address" class="validate" name="address"  value="{{ address }}">

            <label for="phone">Phone number</label>
            <input id="" type="text"  placeholder="0455432211" class="validate" name="phone"  value="{{ phone }}">

            <button>next</button>
        </form>
    </div>
</div>
</body>